name: rspec
on:
  - push
  - pull_request

jobs:
  test:
    name: Run Rspec
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
      - run: bundle install
      - run: rspec spec
